body, html{
    background-color: #ab19ff;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotaoGerarCartela{
    
    background-color:rgb(0, 0, 0);
    color:azure;
}

.cartela{
    background-color: rgb(46, 42, 42);
    border: 10px double #690c0c;
    border-radius: 5%;
    font-size: 50px;
    padding: 5px 8px;
    color: #2570e0;
}

.botaoSorteiaNumero{
    background-color:rgb(0, 0, 0);
    color:azure;
}

.NumerosGerados{
    background-color: rgb(0, 0, 0);
    border: 10px double #e64747;
    border-radius: 5%;
    font-size: 50px;
    padding: 5px 8px;
    color: #023179;
}

td{
    background-color: hwb(184 67% 0%);
    border: 5px solid;
    border-radius: 10%;
    text-align: center;
    padding: 10px 15px;
}